<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management System</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script>
function myFunction() {
  location.replace("/showNewEmployeeForm")
}
</script>

</head>
<body>

<div class="container my-2">

	<div class="shadow p-2 mb-3 bg-white rounded">
      	<h1>Employees List</h1>
   </div>  
   

<form id="myForm" action="#" th:action="@{/new}" th:object="${employee}" method="post" >
  <div class="form-group">
        <input type="text" th:field="*{firstName}" placeholder="Employee First Name" class="form-control mb-2 col-4" maxlength="32">
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" >Name error</div>
      
                           
       <input type="text" th:field="*{lastName}" placeholder="Employee Last Name" class="form-control mb-2 col-4" maxlength="32">
       <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >Surname error</div>
       
       <input type="text" th:field="*{email}" placeholder="Employee Email" class="form-control mb-2 col-4" maxlength="32">
       <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Email error</div>
       
       <button type="submit" class="btn btn-primary btn-sm p-2 mb-3">Submit</button>
       <input type="button" class="btn btn-primary btn-sm p-2 mb-3" onclick="myFunction()" value="Delete All"/>
       
 </div>  
</form>
<a th:href="@{/}">Back to List</a>
</div>
</body>
</html>







